{% extends 'Home.html' %}
{% block content %}
<div id="sobre">
    <section id="sobre">
            <h2>Sobre Mim</h2>
            <p>Olá! Meu nome é Jardiel, tenho 22 anos e sou estudante de Desenvolvimento de Sistemas. Há 1 ano e 2 meses estou cursando técnico nessa área, <br>onde adquiri habilidades em lógica de programação, HTML e CSS. Atualmente, estou focado em aprofundar meus conhecimentos e JavaScript.</p>
    </section>

    <section id="habilidades">
            <h2>Minhas Habilidades</h2>
            <ul>
                Lógica de Programação
                HTML5
                CSS
                Basico em  JavaScript
            </ul>
    </section>
</div>
{% endblock %}
